<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1516924962500-2b4b3b99ea02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>Guitar Share lets you access the <strong>finest guitars</strong> on <strong>earth</strong>!</h1>
    <p>Connect with other musicians and rent their instruments whenever you feel inspired.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>
