<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1516924962500-2b4b3b99ea02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>Guitar Share lets you play the <strong>finest guitars</strong> on <strong>earth</strong>!</h1>
    <p>Rent instruments whenever you feel inspired</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" style="padding: 50px; text-align: center;">
        <img src="images/briefcase.png" alt="picture description" width="100">
        <h2>Fast</h2>
        <p>A fast app, <strong>very fast</strong> app</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" style="padding: 50px; text-align: center;">
        <img src="images/diamond.png" alt="picture description" width="100">
        <h2>Simple</h2>
        <p>A simple app, <strong>very simple</strong> app</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" style="padding: 50px; text-align: center;">
        <img src="images/heart.png" alt="picture description" width="100">
        <h2>Awesome</h2>
        <p>An awesome app, <strong>very awesome</strong> app</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" style="padding: 50px; text-align: center;">
        <img src="images/laptop.png" alt="picture description" width="100">
        <h2>Beautiful</h2>
        <p>A beautiful app, <strong>very beautiful</strong> app</p
    </div>
  </div>
</div>
